<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <div class="modal" id="create-student">
        <div class="modal-body">
            <h3>Create Student</h3>
            <div class="form-group">
                <label for=""><b>Enter your Name</b></label>
                <input type="text" placeholder="Enter your name" id="name" class="form-control">
            </div>
            <div class="form-group">
                <label for=""><b>Enter your Age</b></label>
                <input type="number" placeholder="Enter your age" id="age" class="form-control">
            </div>
           
            <div class="form-group buttons">
                <button class="btn btn-success" type="submit" id="save">Save</button>
                <button class="btn btn-danger" type="submit" id="close">Close</button>
            </div>
        </div>
    </div>
-->

  


<body>
    <div class="container">
        <div class="alerts">
            <div class="alert alert-success">gg</div>
            <div class="alert alert-danger">ee</div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container">
            <h1>Crud with Javascript fetch api</h1>
        </div>
    </div>
    <div class="container">
        <div class="card">
            <div class="card-body">
                <h3>Students ( <span id="total"></span> )</h4>
                    <button class="btn btn-primary" id="create">Create</button>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="table-responsive">
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Country</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody id="tbody">
                   
                </tbody>
            </table>
        </div>
    </div>

    
    <div class="modal" id="create-student">
        <div class="modal-body">
            <h3>Create Student</h3>
            <div class="form-group">
                <label for=""><b>Enter your Name</b></label>
                <input type="text" placeholder="Enter your name" id="name" class="form-control">
            </div>
            <div class="form-group">
                <label for=""><b>Enter your Age</b></label>
                <input type="number" placeholder="Enter your age" id="age" class="form-control">
            </div>
            <div class="form-group">
                <label for=""><b>Enter your Country</b></label>
                <input type="text" placeholder="Enter your country" id="country" class="form-control">
            </div>
            <div class="form-group buttons">
                <button class="btn btn-success" type="submit" id="save">Save</button>
                <button class="btn btn-danger" type="submit" id="close">Close</button>
            </div>
        </div>
    </div>
  
    <div class="modal" id="update-student">
        <div class="modal-body">
            <h3>Update Student</h3>
            <div class="form-group">
                <label for=""><b>Enter your Name</b></label>
                <input type="text" placeholder="Enter your name" id="edit_name" class="form-control">
                <input type="hidden" placeholder="Id" id="id" class="form-control">
            </div>
            <div class="form-group">
                <label for=""><b>Enter your Age</b></label>
                <input type="number" placeholder="Enter your age" id="edit_age" class="form-control">
            </div>
            <div class="form-group">
                <label for=""><b>Enter your Country</b></label>
                <input type="text" placeholder="Enter your country" id="edit_country" class="form-control">
            </div>
            <div class="form-group buttons">
                <button class="btn btn-success" id="update" type="submit">Update</button>
                <button class="btn btn-danger" type="submit" id="update_close">Close</button>
            </div>
        </div>
    </div>


   
    <div class="container">
        <div class="content first-content">
            <div class="first-column">
                <h2 class="title title-primary">Bem Vindo!</h2>

                <p class="description description-primary">Para acessar ao site</p>
                <p class="description description-primary">entre com sua conta</p>
                <button id="signin" class="btn btn-primary">Entrar</button>
            </div>    
            <div class="second-column">
                <h2 class="title title-second">Crie uma conta</h2>
                
                <form class="form">
                    <label class="label-input" for="">
                        <i class="far fa-user icon-modify"></i>
                        <input type="text" placeholder="Name">
                    </label>
                    
                    
                    <label class="label-input" for="">
                        <i class="fas fa-lock icon-modify"></i>
                        <input type="password" placeholder="Password">
                    </label>
                    
                    
                    <button id="btnAcessar" class="btn btn-second" >Acessar</button>        
                </form>
            </div>
        </div>
        <div class="content second-content">
            <div class="first-column">
                <h2 class="title title-primary">Ainda não tem uma conta?</h2>
                <p class="description description-primary">Crie agora mesmo</p>
                <button id="signup" class="btn btn-primary">Criar conta</button>
            </div>
            <div class="second-column">
                <h2 class="title title-second">Acesse sua conta</h2>
                
               
                <form class="form">
                
                    <label class="label-input" for="">
                        <i class="far fa-envelope icon-modify"></i>
                        <input type="nome" placeholder="nome">
                    </label>
                
                    <label class="label-input" for="">
                        <i class="fas fa-lock icon-modify"></i>
                        <input type="password" placeholder="Password">
                    </label>
                
                    
                    <button class="btn btn-second">Entrar</button>
                </form>
            </div>
        </div>
    </div>
    
   


</body>
</html>